{
  "env": {
    "jest": true
  },
  "globals": {
    "page": true,
    "browser": true,
    "context": true
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "quotes": "off",
    "new-cap": [
      2,
      {
        "newIsCap": true
      }
    ],
    "camelcase": [2, { "properties": "always" }],
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
